//META{"name":"NJVS_font_suite","description":"<br><b>This is intended to be used as part of the NJVS theme suite.</b><br>Mikato's suite of Google display web fonts for the Discord interface.<br>Fonts used: Ravalia, Coda Regular, Share Tech Mono<br><br>This should override any fonts in other themes, if applicable.<br><b>See code for details about additional changes.</b>","author":"Hebgbs","version":"2.0~NJVS"}*//{}

/* > This is an example of how different fonts could be applied to the Discord interface.
     Purpose this as you like, though keep me in the back of your mind for due credit. Thanks!
   > There use to be additional information here but inline comments now supersede it.
     Look in the code and use all of the information presented below to modify this as you need. */
   
/* Font configiuration */

    /* Fixes for ClearVision theme */
@import url('https://rawgit.com/Hebgbs/DiscordStuff/master/cv_ui_fixes.css');
    /* Import argument for base sheet; */

@import url('https://rawgit.com/Hebgbs/DiscordStuff/master/triple_font_min.css');
	/* Import argument for web fonts;
	   use whatever famlies specified for these imports */
@import url('https://rawgit.com/Hebgbs/DiscordStuff/master/Suites/NJVS/NJVS_font_fix.css');
@import url('https://fonts.googleapis.com/css?family=Coda|BioRhyme|Share+Tech+Mono&subset=latin-ext');
:root{ /* Begin each with the families provided by the import arguments */
	--headfam: BioRhyme,Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
	--bodyfam: Coda,Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
	--monofam: "Share Tech Mono",Consolas,"Liberation Mono",Menlo,Courier,monospace;}

/* I became tired of maintaining multiple sheets with the same base code, so
   this file only does imports now. Sorry if this is inconvenient for any reason. */