/* Flag colours and emblems */
	/* Canada */
.member-role[style*="color: rgb(255, 1, 1)"]{
	background-color: transparent !Important;
	background: url(https://rawgit.com/Hebgbs/DiscordStuff/master/Images/ca15.svg) 50% 50% / 40px 40px no-repeat, linear-gradient(75deg, #f00 0%, #f00 25%, #fff 25%, #fff 75%, #f00 75%, #f00 100%);
	background-repeat: no-repeat;
	color: #000 !Important;}

	/* Germany ('66) */
.member-role[style*="color: rgb(1, 1, 1)"]{
    background-color: transparent !important;
	background-image: linear-gradient(75deg, #000 0%, #000 33%, #fff 33%, #fff 67%, #d00 67%, #d00 100%);
	background-repeat: no-repeat;
	color: #666 !Important;}

	/* United States of America */
.member-role[style*="color: rgb(0, 0, 255)"]{
    background-color: transparent !important;
	background: url(https://rawgit.com/Hebgbs/DiscordStuff/master/Images/usaCanton15.svg) -25px -28px / 66px 80px no-repeat, linear-gradient(165deg, #b22234 0%, #b22234 calc((100% / 9) * 1), #fff calc((100% / 9) * 1), #fff calc((100% / 9) * 2), #b22234 calc((100% / 9) * 2), #b22234 calc((100% / 9) * 3), #fff calc((100% / 9) * 3), #fff calc((100% / 9) * 4), #b22234 calc((100% / 9) * 4), #b22234 calc((100% / 9) * 5), #fff calc((100% / 9) * 5), #fff calc((100% / 9) * 6), #b22234 calc((100% / 9) * 6), #b22234 calc((100% / 9) * 7), #fff calc((100% / 9) * 7), #fff calc((100% / 9) * 8), #b22234 calc((100% / 9) * 8), #b22234 100%);
	background-repeat: no-repeat;
	color: #d3d !Important;}