/* Channels: left; Guilds: left; Title: top; Conflicts: horizontalserverlist.theme.css ServerGridPlus.theme.css */

/* Channels and guilds */
   /* Normal */
[class*="flex-"] [class*="channels-"]:not(:hover),
[class*="flex-"] [class*="guilds-wrapper"]:not(:hover){
    width: 0px !important;
    border-left-style: solid;
    border-left-color: var(--colorgrip);}

[class*="flex-"] [class*="guilds-wrapper"]:not(:hover){
    border-left-width: var(--guildgrip);}

[class*="flex-"] [class*="channels-"]:not(:hover){
    border-left-width: var(--changrip);}

[class*="flex-"] [class*="channels-"]:not(:hover) [class*="unread"]{
    display: none !Important;}

   /* Hover */
[class*="flex-"] [class*="channels-"]:not(:normal),
[class*="flex-"] [class*="guilds-wrapper"]:not(:normal){
    border-left: none !Important;}

/* Titles */
   /* Guilds */
.chat:not(.private) [class*="titleWrapper-"]:not(:hover){
    border-bottom: var(--titlegrip) solid var(--colorgrip);
    height: 0px !Important;}

.chat:not(.private) [class*="titleWrapper-"]:not(:hover) [class*="title-"]{
    height: 0px !Important;}

.chat:not(.private) [class*="titleWrapper-"]:not(:hover) [class*="title-"] *{
    margin-bottom: 48px !important;}

/* Friends */
.chat.private [class*="titleWrapper-"]:not(:hover) [class*="title-"] DIV:not(:first-child),
.chat.private [class*="titleWrapper-"]:not(:hover) [class*="titleCall"] DIV:nth-child(3),
.chat.private [class*="titleWrapper-"]:not(:hover) [class*="titleCall"] [class*="topic"]{
    opacity: 0;}

/* Decoration */
[class*="flex-"] [class*="base-"]{
    border-radius: 0 !important;}