//META{"name":"ClearVision_Danger_Color","description":"Bring consistiency to buttons that are red, as well, other buttons where the change makes sense.","author":"Hebgbs","version":"1.0"}*//{}
    x
/* Colour; Changing the value below affects only the hue.
           Other values for sat and value are defined below. */
:root{
    --danger-color: 0; /* Hue */}

/* Disappear */
DIV.titlebar .win-close:hover,
#friends DIV.friends-column.friends-column-actions.friends-column-actions-visible .friends-action.friends-action-ignore:hover,
.friends-column-actions .friends-action-cancel{
    background-image: none !important;}
DIV.titlebar .win-close{
    background-color: transparent !Important;}

/* Titlebar / Close */
DIV.titlebar .win-buttons .win-close:hover:after{
    content: '';
    display: block;
    width: 26px;
    height: 26px;
    filter: brightness(1) !important;
    transition: .1s ease-in-out !important;}

/* Friends / Actions */
#friends DIV.friends-column.friends-column-actions.friends-column-actions-visible .friends-action.friends-action-ignore:after
.friends-column-actions .friends-action-cancel:hover:after{
    content: '';
    display: inline-block;
    width: 36px;
    height: 36px;
    filter: brightness(1) !important;}

/* Colour settings
   Change value in :root to suit; Don't touch
   this unless values are too muted or too dark. */

DIV.btn-primary.red{
    color: #fff !important;}

DIV.titlebar .win-close:hover:after,
.btn-primary.red, .modal-container .decline-call, .btn-danger,
.popout-menu-item.leave, .btn-confirm:hover .btn, .btn-confirm.active .btn,
#friends DIV.friends-column.friends-column-actions.friends-column-actions-visible .friends-action.friends-action-ignore:hover:after,
.friends-column-actions .friends-action-cancel:after{
    background-color: hsl(var(--danger-color), 97%, 36%) !important;}

.btn-confirm.active .btn:nth-child(2):not(:hover){
    background-color: hsl(var(--danger-color), 57%, 49%) !important;}