/* Visibility improvements via text shadow */
	/* Apply */
.theme-light .ui-tab-bar-header, .theme-light .content-column H2, .theme-light .ui-form-section:not(.user-settings-connections) H3.ui-flex-child,
.theme-light .ui-form-section:not(.user-settings-authorized-apps):not(.user-settings-streamer-mode):not(.user-settings-locale) .margin-bottom-40 H5,
.theme-light .ui-form-section:not(.user-settings-authorized-apps) H5.margin-bottom-8, .theme-light .user-settings-voice .margin-bottom-4,
.theme-light .user-settings-games H5, .theme-light .custom-column H2, .theme-light .custom-column H2{
    text-shadow: 0px 0px 6px #000,
                 0px 0px 6px #000 !important;}
	/* Deny */
.theme-light .content-column .ui-card, .theme-light .user-settings-keybinds .keybind-group H5, #bd-settingspane-container .ui-switch-item H5{
	text-shadow: none !Important;}

/* Colours */
	/* Greys */
.theme-light .user-settings-games .now-playing-add, .theme-light .keybind-group .ui-form-text{
	color: #999 !important;}
.theme-light #bd-settingspane-container .ui-switch-item .margin-top-4, .theme-light .select-value SPAN{
	color: #d2d2d2 !important;}
.theme-light .guild-settings-audit-logs .ui-audit-log .header :not(STRONG), #bd-settingspane-container .ui-switch-item .margin-top-4{
	color: #bdbdbd !Important;}
	/* brighten */
.theme-light .content-column .desc, .theme-light .user-settings-games .game .game-name, .theme-light .guild-settings-widget INPUT,
.theme-light .guild-settings-audit-logs .ui-selectable-item:not(.selected):not(:hover), .theme-light .guild-settings-members-member .name{
    color: #fff !Important}
	/* Darken */	
.theme-light .premium-free-months, .theme-light .premium-feature .ui-form-text.style-default, .theme-light .ui-form-text .margin-top-4,
.theme-light .ghost-pill, .theme-light .ui-button.link-color.link:not(:disabled) .ui-button-contents, .theme-light .style-description,
.theme-light .user-settings-games .last-played, .theme-light .user-settings-appearance A, .theme-light .user-settings-streamer-mode .margin-bottom-20 A,
.theme-settings .guild-settings-security A, .theme-light .guild-settings-audit-logs .timestamp, .theme-light .guild-settings-audit-logs .prefix,
.margin-bottom-40 A, .theme-light .guild-settings-roles .ui-tab-bar-item.guild-role.selected:last-child, .theme-light .guild-settings-roles A,
.theme-light .guild-settings-members-member .name, .theme-light .guild-settings-members-member .tag, #bd-settings-sidebar A{
    color: #000 !important;}
.theme-light :not(#pubslayer) .sidebar DIV.ui-tab-bar-item:not(.selected):not(:hover){
	color: rgba(255, 255, 255, 0.5) !important;}

.theme-light :not(#pubslayer) .sidebar DIV.ui-tab-bar-item:not(.selected):not(:hover):after{
	opacity: 0.5 !important}

.theme-light :not(#pubslayer) .sidebar .ui-tab-bar-item:not(.selected):not(:hover), .theme-light .btn-close{
    filter: brightness(0) !important;}