/* The following changes are by members of the ClearVision channel on Discord.
   These are community contributions while Zerthox takes a break and deals with life. */

/* tehbasshunter (modified by w/ &#2039;) */
[class*="autocomplete-"] [class*="selectorSelected-"]{
	background-color: var(--main-color);}

.channel-text-area-default [class*="inner-"],
.channel-text-area-default [class*="autocomplete-"],
[class*="autocomplete-"][class*="autocomplete-"]{
    background-color: rgba(0, 0, 0, 0.6) !important;}

.channel-text-area-default [class*="textArea-"],
.channel-text-area-default [class*="selector-"] [class*="marginLeft8-"]{
    color: white;}

.theme-dark [class*="channelTextAreaEnabled"] [class*="inner"]{
    background: rgba(0, 0, 0, 0.6);}

/* w/ &#2039; */
.instant-invite-modal DIV[class*="form"]{
	background: rgba(0, 0, 0, 0.85) !Important;}

[class*="modal"][class*="modal"][class*="size"],
[class*="need-help-modal"] .form-inner{
	background-color: rgba(0, 0, 0, 0.6) !important;}
	
[class*="need-help-modal"] .footer{
    background-color: rgba(0, 0, 0, 0.88) !important;
    border-top: none !important;}
	
[class*="need-help-modal"] .header.control-group{
    background-color: var(--main-color) !important;}

#help-query{
	border: none !Important;
	box-shadow: none !important;}

#help-query:focus{
	color: white !Important;}

.autocomplete-1TnWNR .autocomplete-1LLKUa{
	background-color: red !Important;
	background: red !Important;}