/* The following changes are by members of the ClearVision channel on Discord.
   These are community contributions while Zerthox takes a break and deals with life. */

/* tehbasshunter */
/**/ /* Modified by w/ &#2039; */
/**/ [class*="autocomplete-"] [class*="selectorSelected-"]{
/**/     background-color: var(--main-color);}

.channel-text-area-default [class*="inner-"],
.channel-text-area-default [class*="autocomplete-"],
[class*="autocomplete-"][class*="autocomplete-"]{
    background-color: rgba(0, 0, 0, .6) !important;}

.channel-text-area-default [class*="textArea-"],
.channel-text-area-default [class*="selector-"] [class*="marginLeft8-"]{
    color: white;}

.emoji-picker .scroller .emoji-item.selected {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    -webkit-background-size: contain !important;
    -moz-background-size: contain !important;
    background-size: contain !important;}

/* Dani */
.theme-dark .messages-wrapper .messages .message-group-blocked .message-group-blocked-btn{
    display: none}

.theme-dark [class*="channelTextAreaEnabled"] [class*="inner"]{
    background: rgba(0, 0, 0, .6);}

/* w/ &#2039; */
.instant-invite-modal DIV[class*="form"]{
    background: rgba(0, 0, 0, .85) !Important;}

[class*="modal"] [class*="sizeSmall"] [class*="footer"] BUTTON[type="button"]{
	background-color: rgba(0, 0, 0, .5) !Important;
}

[class*="modal"][class*="modal"][class*="size"],
[class*="need-help-modal"] .form-inner,
[class*="modal"] [class*="customWidth"]{
    background-color: rgba(0, 0, 0, .6) !important;}

input:focus{
	border-color: var(--main-color) !important;
}
    
[class*="need-help-modal"] .footer{
    background-color: rgba(0, 0, 0, .88) !important;
    border-top: none !important;}
    
[class*="need-help-modal"] .header.control-group{
    background-color: var(--main-color) !important;}

#help-query{
    border: none !Important;
    box-shadow: none !important;}

#help-query:focus{
    color: white !Important;}

.radio .radio-inner{
    background-color: rgba(0, 0, 0, .64) !important;
    border: 2px solid var(--main-color) !important;}

[class*="titleChecked"]{
    color: var(--main-color) !important;}

/**/ /* Some assistance by DevilsLynAvenged */
/**/ [class*="checkbox"]{
/**/ background-color: rgba(0, 0, 0, .32) !important;
/**/ border-width: 2px !Important;
/**/ border-color: var(--main-color) !Important;}
/**/
/**/ [class*="checkbox"] [class*="focused"]{
/**/ box-shadow: none !important;}

[class*="checkbox"] [class*="checked"] polyline{
    stroke: var(--main-color) !Important;}
.layer[layer-id="server-settings"] [class*="card"]:first-child:hover [class*="checkbox"][class*="checked"] polyline,
.ui-form-item [class*="card"]:hover [class*="checkbox"][class*="checked"] polyline{
    opacity: 1 !important;}

.layer[layer-id="server-settings"] [class*="card"]:first-child:hover [class*="checkbox"] polyline,
.ui-form-item [class*="card"]:hover [class*="checkbox"] polyline{
    stroke: var(--main-color) !important;
    opacity: .2;}

.layer[layer-id="user-settings"] .margin-bottom-40:first-child [class*="card"]:first-child:hover [class*="checkbox"] polyline,
.layer[layer-id="server-settings"] [class*="card"]:nth-child(2):hover [class*="checkbox"] polyline{
    stroke: rgba(67, 181, 129, .2)}

.layer[layer-id="user-settings"] .margin-bottom-40:first-child [class*="card"]:nth-child(2):hover [class*="checkbox"] polyline,
.layer[layer-id="server-settings"] [class*="card"]:nth-child(3):hover [class*="checkbox"] polyline{
    stroke: rgba(250, 166, 26, .2)}

.layer[layer-id="server-settings"] [class*="card"]:nth-child(4):hover [class*="checkbox"] polyline{
    stroke: rgba(245, 119, 49, .2)}

.layer[layer-id="user-settings"] .margin-bottom-40:first-child [class*="card"]:last-child:hover [class*="checkbox"] polyline,
.layer[layer-id="server-settings"] [class*="card"]:last-child:hover [class*="checkbox"] polyline{
    stroke: rgba(240, 71, 71, .2)}

.content-column [class*="switchWrapperDefault"] [class*="switch"][class*="checked"],
.sensitivity [class*="slider"].slider-bar.speaking{
	background-color: var(--main-color) !important;}

.content-column [class*="slider"] > [class*="bar"],
.sensitivity [class*="slider"].slider-bar:not(.speaking){
	background: rgba(255, 255, 255, .1) !important;}

.content-column [class*="slider"] [class*="bar"] [class*="barFill"]{
	background: -webkit-linear-gradient(right, var(--hover-color) 0%, var(--main-color) 100%);
    background: linear-gradient(to right, var(--hover-color) 0%, var(--main-color) 100%);}

.content-column [class*="grabber"]{
	background-color: var(--main-color) !important;
	border-radius: 10px !Important;
	border-style: none !Important;
	margin-top: -9px !important;}

	.content-column [class*="grabber"],
DIV.slider-handle{
	height: 18px !important;
	width: 18px !Important;}

[class*="modal"] FORM[class*="modal"][class*="container"][class*="sizeSmall"] [class*="message"]{
	background-color: transparent !important;
	box-shadow: none !Important;}