//META{"name":"Eclipsing_Avatars","description":"User status enhancer to make avatars fit in with a lunar-style theme.","author":"Hebgbs","version":"3.0"}*//{}

/* This is intended for people who use an absolutely bone-stock Discord appearance, void of other theme files or import at-rules.
   For use with other themes, this file may need to be supplemented with other code to supersede existing featurs or add onto it.
   
   This stand-alone version is supplied as a stand-alone example. The preferred mode for anyone using this in their theme is to remove
   the meta line, and commit as a plain CSS file. If using with a theme as a stand-alone revision modify the meta line, then optionally
   for consistiency commit as .import.css and add it above the supplied import. If using this in your theme feel free to remove this comment. */

@import url(https://rawgit.com/Hebgbs/DiscordStuff/master/Eclipsing_Avatars.import.css);

/* Colours; Adjust to preference */
:root{
    --status-online: #43b581;
    --status-idle: #faa61a;
    --status-dnd: #f04747;
    --status-streaming: #593695;}