/* Base import file for Eclipsing Avatars;
   This shouldn't be used by itself, and is only intended to reduce additional coding overhead in the future. */

/* Pre-termination message */
	/* Animation */
@keyframes eclNotice{
    from{
        opacity: 1;
        display: block;}
    to{
        opacity: 0;
    	display: none;}}
	/* Good-bye, cruel world. */
DIV.title-wrap .title SPAN:after{
    pointer-events: none !Important;
    content: "This is a courtesy message from the creator of the \"Eclipsing Avatars\" series of avatar enhancers, for users of both the stock and Material theme variants. URLs for import at-rules in your present copy of the theme have become inaccessible due to ongoing cleanup in my GitHub repository. To retain continued use, visit http://tinyurl.com/eclava and use the files from there to reinstall this theme. This is your final notice. This message will remain until 08/01/17 12:00 EST.";
    line-height: 1;
    text-align: left;
    font-family: monospace;
    font-size: 10pt;
    color: #0f0;
    width: auto;
    height: auto;
    overflow: hidden;
    position: absolute;
    top: 56px;
    left: 0;
    border: 2px solid #0f0;
    padding: 2px;
    background-color: rgba(0, 128, 0, 0.50);
    animation: eclNotice 5s 60s 1 normal forwards;}