/* Eclipsing Avatars 2.7
   Import file for use wit Beard's Material Theme */

/* Fix for profile avatar (for now) */
.avatar-profile DIV.status{
	top: 24px !important;
	left: 24px !Important;
    border: none !important;
    background: transparent !important;
    height: 124px !important;
    width: 124px !important;
    border-radius: 128px !important;}