/* Make DMs button expandable */
.guilds-wrapper .scroller-wrap:not(:hover) .guilds .guild:first-child,
.guilds-wrapper .scroller-wrap:not(:hover) .guilds .friends-icon{
	width: calc((58px * var(--NguildCols)) - 8px);}
.guilds-wrapper .scroller-wrap:hover .guilds .guild:first-child,
.guilds-wrapper .scroller-wrap:hover .guilds .friends-icon{
    width: calc((58px * var(--HguildCols)) - 8px);}
/* Reposition tooltip */
.tooltips .tooltip-right[style*="top: 47px"]{
    margin-left: calc((58px * var(--HguildCols)) - 50px);}
