/* CSS base sheet for Discord triple font themes;
   This is a universal sheet for works created by and derived from Hebgbs.
   
   Copyleft 2017, CC0. Do whatever you may please, use and modify at your own peril. */

/* Headings and titles */
BUTTON:not(.guilds-add), H2, H3, H4, FORM HEADER, LABEL:not(A),
DIV.btn, P.name, P.author, .form-header, .header *:not(INPUT),
.badge, .reaction-count, .new-messages-indicator, .channels-wrap *, 
.channel-name, .private-channel-call-actions *, .alert-actions *, .btn-close-forever,
.channel-name.focus *, .channel-members SPAN, #user-profile-modal .guild,
.user-name, .username, .nickname, #user-profile-modal .connected-accounts, .typing SPAN.text STRONG,
.modal-inner .markdown-modal-header, .title, .topic:not(.topic-expandable), .aka, .search-popout DIV.header,
.search-header *, .empty-results-content *, .invite-button *, .divider *,
.embed-author, .embed-title,
.edit-operation, .image-gif:after, .download-button,
.user-popout .discord-tag *, .jump-button, .emoji-picker .category,
.roles, .notes .label, .modal-inner .section-header,
.messages-popout .bottom, .popout .guild-name,
.friends-header, .friends-empty *, .friends-table-header, .friends-row,
#voice-connection-popout, .tab-bar *, * .bda-name,
.connection, .authed-app .header, .user-settings-modal-keybinds .account-warning,
.radio-theme:after, .item-game *:not(.last-played), .streamer-mode-enabled-btn,
.change-log .markdown-modal-header, .changelog-margin-top,
.server-row SPAN.server-name-span, .server-row.server-pinned,
.keyboard-shortcuts-modal H1 .content, .quickswitcher-container .section-title,
.quickswitcher-container .result-match, .quickswitcher-empty-state-not,
DIV#bda-gem *, #app-mount:after{
    font-family: var(--headfam) !important;}

/* Body content, menus and information */
INPUT, LABEL A, P,
.notice, .tooltip, .checkbox, .radio, .Select *, *::-webkit-input-placeholder,
.timestamp, DIV.attachment-inner DIV,
.help-text, .item-group, .quickswitcher-container .misc-controls,
.popout-menu, .option-popout *, .context-menu *, .embed .embed-description,
.popout .text, .popout .subtitle, .keyboard-shortcuts-modal .modal-subtitle,
DIV.friends-online, DIV#bd-pub-button, .quickswitcher-container .result-username,
.topic.topic-expandable, .search-bar *, .quickswitcher-container .result-note,
.empty-message H1, .system-message DIV, .quick-region-select,
.channel-textarea-inner *, .typing SPAN.text,
.message-group .body .markup:not(.user-name):not(CODE):not(PRE),
.user-popout .discriminator, SPAN.discriminator, .account:after,
.embed-rich .embed-fields *,
.search-popout DIV:not(.header), .channel-activity, .channel-activity STRONG, DIV.activity,
.activity STRONG, .member-activity,  .friends-table-body .status-text,
.note *, .protip *, .keyboard-shortcuts-modal .keybind-description,
.need-help-modal *:not(H1), .quickswitcher-empty-state-cta,
.friend-table-add-description, .quickswitcher-container .list-nav,
.user-settings-avatar-upload .remove-button, .upload .speed *,
.user-settings-modal-accounts-list, .authed-app .body, .authed-app LI,
.control-group A, DIV#overlay-explanation,
.item-game .last-played *, .now-playing, .now-playing-add,
.change-log LI, .change-log .markdown-modal-footer,
.server-row DIV:not(.server-name) SPAN:not(.server-name-span):not(BUTTON),
DIV.creation-date-wrapper, .bda-description, #server-bd-tag, #pubs-footer,
#bd-pane DIV DIV DIV.bd-settings DIV:nth-child(6) > SPAN, #bdcl H1, #bdcl .footer{
    font-family: var(--bodyfam) !important;}

/* Monospace fonts */
#bd-pane DIV DIV DIV.bd-settings DIV:nth-child(6) > span:nth-child(1),
CODE, CODE.inline, .keyboard-shortcuts-modal,
.keybind-shortcut SPAN, .keybind-shortcut.dim SPAN, .upload .filename *,
DIV.attachment-inner A, .accessory .embed-provider, .embed-footer,
.shortcut-recorder INPUT, .quickswitcher-container .list-nav SPAN,
.CodeMirror, .quickswitcher-container .misc-controls SPAN{
    font-family: var(--monofam) !important;
	font-size: 10pt !important;}