/* CSS base sheet for Discord triple font themes;
   This is a universal sheet for works created by and derived from Hebgbs.
   
   Copyleft 2017, CC0. Do whatever you may please, use and modify at your own peril. */

/* I tried my best previously, but there is no semblence of order and sorting here anymore. */

/* Headings and titles */
BUTTON:not(.guilds-add), H1, H2, H3, H4, H5, FORM HEADER, LABEL:not(A),
.create-guild-container HEADER, .create-guild-container .action-header, .create-guild-container .or,
DIV.btn, P.name, P.author, .form-header, .premium-feature .style-default,
.ui-form-title, .ui-tab-bar-header, .game-name, .guild-settings-audit-logs .ui-flex-child STRONG,
.badge, .reaction-count, .new-messages-indicator, .channels-wrap *,  .channel-name, .search-query .search-for,
.private-channel-call-actions *, .alert-actions *, .btn-close-forever, .channel-name.focus *,
.channel-members SPAN, #user-profile-modal .guild, .user-name, .username, .nickname,
.esc-text, #user-profile-modal .connected-accounts, .typing SPAN.text STRONG, .modal-inner .markdown-modal-header,
.title, .topic:not(.topic-expandable), .aka, .search-popout DIV.header, .search-header *, .empty-results-content *,
.invite-button *, .divider *, .embed-author, .embed-title, .mention-filter, .jump-button .text, .edit-operation,
.image-gif:after, .download-button, .status-text, .user-popout .discord-tag *, .jump-button, .emoji-picker .category,
.roles, .notes .label, .modal-inner .section-header, .messages-popout .bottom, .popout .guild-name, .ui-region-name,
.region-select-name, .friends-header, .friends-empty *, .friends-table-header, .friends-row, #voice-connection-popout,
.tab-bar *, .change-str STRONG, .ui-popout-list, .connection, .authed-app .header, .user-settings-modal-keybinds .account-warning,
.radio-theme:after, .item-game *:not(.last-played), .streamer-mode-enabled-btn, .change-log .markdown-modal-header,
.changelog-margin-top, .server-row SPAN.server-name-span, .server-row.server-pinned, .keyboard-shortcuts-modal H1 .content,
.quickswitcher-container .section-title, .quickswitcher-container .result-match, .quickswitcher-empty-state-not,
.sidebar [class*="header-1"], .margin-bottom-40 [class*="card"] [class*="title"] #rtc-connection-popout HEADER,
* .bda-name, DIV#bda-gem *, #app-mount:after{
    font-family: var(--headfam) !important;}

/* Body content, menus and information */
INPUT, LABEL A, P,
.ui-new-terms-modal A, .notice, .tooltip, .checkbox, .radio, .Select *, *::-webkit-input-placeholder, .help-text, .item-group,
.quickswitcher-container .misc-controls, .timestamp, DIV.attachment-inner DIV, .ui-form-text, .ui-tab-bar-item,
.create-guild-container .action-body, .modal-content.form .form-inner, .actions.flex-horizontal, .guild-settings-audit-logs .ui-flex-child,
.guild-settings-members-header, .change-str, .remove-button, .avatar-uploader-hint, .popout-menu, .option-popout *, .context-menu *,
.embed .embed-description, .popout .text, .popout .subtitle, .keyboard-shortcuts-modal .modal-subtitle, DIV.friends-online,
.quickswitcher-container .result-username, .topic.topic-expandable, .search-bar *, .quickswitcher-container .result-note,
.ui-empty-state-text.margin-top-8, .empty-message H1, .system-message DIV, .quick-region-select, .ghost-pill, .last-played, .desc,
.channel-textarea-inner *, .typing SPAN.text, .message-group .body .markup:not(.user-name):not(CODE):not(PRE), .message-content,
.user-popout .discriminator, SPAN.discriminator, .account:after, .embed-rich .embed-fields *, .emoji-row, .ui-role-list-role,
#autocomplete-popout .row .search-popout DIV:not(.header), .channel-activity, .channel-activity STRONG, DIV.activity, .activity STRONG,
.member-activity, .note *, .protip *, .keyboard-shortcuts-modal .keybind-description, .need-help-modal *:not(H1),
.quickswitcher-empty-state-cta, .friend-table-add-description, .quickswitcher-container .list-nav, .user-settings-avatar-upload .remove-button,
.upload DIV.speed, .user-settings-modal-accounts-list, .authed-app .body, .authed-app LI, .control-group A, DIV#overlay-explanation,
.premium-free-months, .premium-feature .style-description, .premium-description .style-default, .item-game .last-played *, .now-playing,
.now-playing-add, .change-log LI, .change-log .markdown-modal-footer, .expire-text, #rtc-connection-popout SECTION *, .search-popout DIV SPAN,
.channel-textarea-autocomplete-inner LI, [class*="modal"][class*="modal"] [class*="scroller"] :not([class*="marginTop"]),
.view-body, DIV[class|=description], DIV[class|=default], DIV [class^=font-scale-sample], .sidebar :not([class*="header-1"]):not(.ui-tab-bar-header),
.margin-bottom-40 [class*="card"] [class*="desc"], [class*="modal"][class*="modal"] [class*="small"],
.channel-textarea-autocomplete-inner LI, [class*="modal"][class*="modal"] [class*="scroller"] :not([class*="marginTop"]),
[class*="modal"] [class*="inner"] [class*="modal"][class*="modal"] [class*="content"] [class*="selectable"],
.bda-slist, DIV#bd-pub-button, .server-row DIV:not(.server-name) SPAN:not(.server-name-span):not(BUTTON),
DIV.creation-date-wrapper, .bda-description, #server-bd-tag, #pubs-footer, #pubslayer .scroller,
#bd-pane DIV DIV DIV.bd-settings DIV:nth-child(6) > SPAN, #bdcl H1, #bdcl .footer{
    font-family: var(--bodyfam) !important;}

/* Monospace fonts */
.slider-mark-value, CODE, CODE.inline, .keyboard-shortcuts-modal, .keybind-shortcut SPAN, .keybind-shortcut.dim SPAN,
.upload DIV.filename, DIV.attachment-inner A, .accessory .embed-provider, .embed-footer, .shortcut-recorder INPUT,
.quickswitcher-container .list-nav SPAN, .CodeMirror, .quickswitcher-container .misc-controls SPAN,
#bd-pane DIV DIV DIV.bd-settings DIV:nth-child(6) > span:nth-child(1), #bd-settings-sidebar SPAN, #pubslayer SPAN,
[class*="markValue"]{
    font-family: var(--monofam) !important;
    font-size: 10pt !important;}

/* Universal fixes
   These apply to every font style, no matter what. */
.ui-popout-list{    
    width: auto !important;}