//META{"name":"Server_Grid_Plus","description":"Display servers and DMs in a column grid<br><br>Includes fix for DMs, and the capability to expand at the specified number of columns on hover.","author":"Jiiks, Hebgbs","version":"1.3~Hebgbs"}*//{}

/* ##########################
   # How the style will act #
   ##########################
   The imports below will inflience how the theme appears. Unless making another
   version for use with a different theme, this section should not be modified. */
   
@import url(https://rawgit.com/Hebgbs/DiscordStuff/master/Themes/Server_Grid_Plus/imports/base.css);
@import url(https://rawgit.com/Hebgbs/DiscordStuff/master/Themes/Server_Grid_Plus/imports/default.css);

/* ################################
   # How the DM button should act #
   ################################ */
/* Because of some disagreement over how this should work,
   this section is wholly dedicated to appeasing everybody.

   Each of the two files detailed below will function as such;
   > SGP_DM-A.css; Centres button no matter what; Jiiks' Original behaviour.
   > SGP_DM-B.css; Makes button expand with columns, moves tooltip to suit.

   A complete omission of the import below makes it act like any other server button;
   a satisfiable option for people who don't want the button to move or expand. */
    
@import url(https://rawgit.com/Hebgbs/DiscordStuff/master/SGP_DM-A.css);

/* #####################################
   # How the server list will function #
   ##################################### */
:root{ /* Change the integers to define the numbers of columns which will appear. */
    --NguildCols: /*Show*/ 1 /*column(s) normally*/;
    --HguildCols: /*Show*/ 3 /*column(s) on hover*/;}

/* Uncomment to hide the "Public" button */
/*.scroller.guilds{
    padding-top: 0;}
.guilds-wrapper .guilds .guild:first-child{
    margin-top: 8px !important;}
#bd-pub-li{
    display: none;}*/