/* Titlebar mod for UZ theme */

[class*="winButton"]{
    width: 45px !important;}
[class*="titleBar-"]{
    background-color: rgba(0, 0, 0, 0.6) !important;
    margin-top: 0px !Important;
    padding-top: 4px !Important;}
[class*="winButtonMinMax"]:hover{
    background-color: var(--main-color) !important;}

[class*="wordmark"]:after{
    position: relative;
    left: 6px;
    top: -3px;
    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 6px;
    border-left: 1px solid white;
    font-size: 14px;
    color: white;
    content: "UZ theme suite by Hebgbs, using ClearVision v5.2.4 by Zerthox";}