/* BETA MESSAGE */
@import url(https://rawgit.com/Hebgbs/DiscordStuff/master/Themes/Server_Grid_Plus/imports/beta.css);

/* #######################################
   # Don't touch any of the below if you #
   # know nothing of what you are doing. #
   ####################################### */

/* How many columns to display normally */
.guilds-wrapper:not(:hover){
    width: calc(60px * var(--NguildCols));}
.guilds-wrapper:not(:hover) .scroller-wrap{
    width: calc(14px + (60px * var(--NguildCols)));}
/* How many columns to display on hover */
.guilds-wrapper/*:hover*/{
    width: calc(60px * var(--HguildCols));}
.guilds-wrapper/*:hover*/ .scroller-wrap{
    width: calc(14px + (60px * var(--HguildCols)));}

.guilds-wrapper .guilds{
    display: flex;
    flex-flow: row wrap;
    padding-left: 0;
    align-content: flex-start;}

.guilds-wrapper .guilds .guild{
    margin: 2px auto !important;}

.guilds-wrapper .guilds .guild.unread::before{
    left: -2px;
    top: 5px;
    z-index:9000;}

#bd-pub-li{
    position: absolute;
    top: 0px;
    left: 0px;}

#bd-pub-li #bd-pub-button{
    position:absolute;
    width: 100%;
    text-align: center;}

.guilds-wrapper .guilds .guild-separator{
    position: relative;
    width: 100%;
    margin-top: 10px;}

.guilds-wrapper .guilds .friends-online{
    position: relative;
    width: 100%;
    margin: 5px auto auto auto;}

.guilds-wrapper .guilds .dms{
    width: 100%;
    display: flex;
    flex-flow: row wrap;}

.guilds-wrapper .guilds .guild.selected:before,
.guilds-wrapper .guilds .dms .guild-inner:before{
    display: none;}
    /* Thanks Hammock for helping with this. */
.tooltips .tooltip-right[style*="top: 47px"]{
    margin-left: calc((60px * var(--HguildCols)) - 50px);}