/* BETA MESSAGE */
@import url(https://rawgit.com/Hebgbs/DiscordStuff/master/Themes/Server_Grid_Plus/imports/beta.css);

/* #######################################
   # Don't touch any of the below if you #
   # know nothing of what you are doing. #
   ####################################### */

/* How many columns to display normally */
.guilds-wrapper:not(:hover){
    width: calc(var(--SGPp5dSize) + (var(--SGPg3dSize) * var(--NguildCols)));}
.guilds-wrapper:not(:hover) .scroller-wrap{
    width: calc(var(--SGPs7rHide) + (var(--SGPg3dSize) * var(--NguildCols)));}
/* How many columns to display on hover */
.guilds-wrapper/*:hover*/{
    width: calc(var(--SGPp5dSize) + (var(--SGPg3dSize) * var(--HguildCols)));}
.guilds-wrapper/*:hover*/ .scroller-wrap{
    width: calc(var(--SGPs7rHide) + (var(--SGPg3dSize) * var(--HguildCols)));}

.guilds-wrapper .guilds{
    display: flex;
    flex-flow: row wrap;
    padding-left: 0;
    align-content: flex-start;}

.guilds-wrapper .guilds .guild{
    margin: 8px 0 0 8px;}

.guilds-wrapper .guilds .guild.unread::before{
    left: -2px;
    top: 5px;
    z-index:9000;}

.guilds-wrapper .guilds .guild:first-child{
    /* FIXME: Code needs to not affect SPAN.dms */
    position: relative; 
    margin: 15px 0 0 8px}

.guilds-wrapper .guilds .friends-icon:after,
.guilds-wrapper .guilds:hover .friends-icon:after{
    background-size: 36px 36px;}

.guilds-wrapper .scroller-wrap .guilds .dms .guild:first-child{
    /* Probably a temporary fix until a better solution is found.
       This code resolves the above tampering with the DMs section. */
    position: static;
    width: 50px;
    margin: 8px 0 0 8px;}

#bd-pub-li{
    position: absolute;
    top: 0px;
    left: 0px;}

#bd-pub-li #bd-pub-button{
    position:absolute;
    width: 100%;
    text-align: center;}

.guilds-wrapper .guilds .guild-separator{
    position: relative;
    width: 100%;
    margin-top: 10px;}

.guilds-wrapper .guilds .friends-online{
    position: relative;
    width: 100%;
    margin: 5px auto auto auto;}

.guilds-wrapper .guilds .guild{
    position: relative;}

.guilds-wrapper .guilds .dms{
    width: 100%;
    display: flex;
    flex-flow: row wrap;}

.guilds-wrapper .guilds .dms .guild{
    left: 0;}

.guilds-wrapper .guilds .guild.selected:before,
.guilds-wrapper .guilds .dms .guild-inner:before{
    display: none;}