DIV.title-wrap .title SPAN:after{
    pointer-events: none !Important;
    content: "SERVER GRID PLUS 1.5~dev - NOT FOR REGULAR USE";
    line-height: 1;
    text-align: left;
    font-family: monospace;
    font-size: 16pt;
    color: #F00;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: absolute;
    top: 56px;
    left: 0;
    padding: 6px;
    background-color: rgba(0, 0, 0, 0);