:root{ /* This import is for the default appearance of DIscord and other themes
          which reskin, but do not reposition or resize the guild scroller. */
	--SGPs7rHide: 26px; /* Overprovisioning to hide scrollbar */
	--SGPg3dSize: 58px; /* Size of most guild buttons */
	--SGPp5dSize: 6px; /* Size of padding between buttons */
	--SGPf4nT5pP6n: 50px /* Position of the friend button tooltip */}