/* Jiiks' original behaviour */
.guilds-wrapper .scroller-wrap .guilds .guild:first-child{
    /* FIXME: Code needs to not affect SPAN.dms */
    position: relative; 
    left: -2px;
    margin: 15px auto auto auto}
.guilds-wrapper .guilds .guild:first-child{
	left: -2px;}