/* Eclipsing Avatars 3.0
   Import file for use with Zerthox's ClearVision theme. */

.container-2Thooq .avatarSmall-3ACRaI:hover [class*="status"],
.container-2Thooq .avatarSmall-3ACRaI.popout-open [class*="status"] {
    height: 50px !important;
    width: 50px !important;
    border-radius: 50px !important;
}

.container-2Thooq .avatarSmall-3ACRaI [class*="status"]{
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

/* Animation settings */
DIV[class^=container] .avatar-small:hover DIV.status,
DIV[class^=container] .avatar-small.popout-open DIV.status{
    transition: all .15s ease-in-out;}

/* Colour setting for privare calls */
DIV[class*="callAvatarBorder-"][class*="selected-"]:not([class*="speaking-"]){
    box-shadow: 0px 0px 24px var(--hover-color),
                0px 0px 8px 4px var(--hover-color) !important;}
DIV[class*="callAvatarBorder-"][class*="speaking-"]{
    box-shadow: 0px 0px 24px var(--main-color),
                0px 0px 8px 4px var(--main-color) !important;}
