/* Base import file for Eclipsing Avatars;
   This shouldn't be used by itself, and is only intended to reduce additional coding overhead in the future. */

:root{
    --status-online: #43b581;
    --status-idle: #faa61a;
    --status-dnd: #f04747;
    --status-select: #7289da;
    --status-streaming: #593695;}
   
/* Base import file for Eclipsing Avatars;
   This shouldn't be used by itself, and is only intended to reduce additional coding overhead in the future. */

/* General */
.channel.private .status,
DIV .avatar-small .status,
.member .status,
.popout .header .status,
[class*="popout"] [class*="avatar"] [class*="Status"],
.channel-textarea-autocomplete-inner .status{
    left: 0px !important;
    top: 0px !important;
    background: transparent !important;}

<<<<<<< HEAD
DIV[class*="avatar"][class*="popout"][class*="avatar"][class*="avatar"]{
=======
[class*="avatar"][class*="popout"]{
>>>>>>> parent of 86daaa1... Popout fixes quatre
	border: none !important;}

.avatar-popout{
   border: none !important;}

.private-channel-call-participants{
   overflow: visible !important;}

.ui-call-avatar-border.video{
   position: fixed !important;
   margin: 0px 4px 0px 4px !important;}

/* Size */
.channel-textarea-autocomplete-inner .status{
   height: 26px !important;
   width: 26px !Important;
   border-radius: 26px !Important;}

.channel.private .status,
DIV .avatar-small .status,
.member .status{
    height: 30px !important;
    width: 30px !important;
    border-radius: 30px !important;}

[class*="popout"] [class*="avatar"] [class*="Status"][class*="status"]{
    height: 90px !important;
    width: 90px !important;
    border-radius: 90px !important;}

.avatar-profile .status{
    height: 128px !important;
    width: 128px !important;
    border-radius: 128px !important;}

/* Typing indicator */
.member .status-typing .spinner{
    position: absolute !important;
    left: 2px !important;
    top: 13px !important;}

/* Appearance settings; change colours in .theme.css */
.status-picker .status-online,
.title .status.status-online,
.friends-row .status.status-online{
background-color: var(--status-online) !important;}
.channel.private .status.status-online,
DIV[class^="container"] .status.status-online,
.member .status.status-online,
.channel-textarea-autocomplete-inner .status.status-online{
    box-shadow: 0px 0px 6px var(--status-online),
                0px 0px 2px 1px var(--status-online) !important;}
DIV .avatar-small .status.online{
    box-shadow: 0px 0px 12px var(--status-online),
                0px 0px 4px 2px var(--status-online) !important;}
[class*="popout"] [class*="avatar"] [class*="Status"][class*="statusOnline"]{
    box-shadow: 0px 0px 18px var(--status-online),
                0px 0px 6px 3px var(--status-online) !important;}
.avatar-profile .status.status-online,
.ui-call-avatar-border.speaking{
    box-shadow: 0px 0px 24px var(--status-online),
                0px 0px 8px 4px var(--status-online) !important;}

.status-picker .status-idle,
.title .status.status-idle,
.friends-row .status.status-idle{
background-color: var(--status-idle) !important;}
.channel.private .status.status-idle,
DIV[class^="container"] .status.status-idle,
.member .status.status-idle,
.channel-textarea-autocomplete-inner .status.status-idle{
    box-shadow: 0px 0px 6px var(--status-idle),
                0px 0px 2px 1px var(--status-idle) !important;}
DIV .avatar-small .status.idle{
    box-shadow: 0px 0px 12px var(--status-idle),
                0px 0px 4px 2px var(--status-idle) !important;}
[class*="popout"] [class*="avatar"] [class*="Status"][class*="statusIdle"]{
    box-shadow: 0px 0px 18px var(--status-idle),
                0px 0px 6px 3px var(--status-idle) !important;}
.avatar-profile .status.status-idle{
    box-shadow: 0px 0px 24px var(--status-idle),
                0px 0px 8px 4px var(--status-idle) !important;}

.status-picker .status-dnd,
.title .status.status-dnd,
.friends-row .status.status-dnd{
background-color: var(--status-dnd) !important;}
.channel.private .status.status-dnd,
DIV[class^="container"] .status.status-dnd,
.member .status.status-dnd,
.channel-textarea-autocomplete-inner .status.status-dnd{
    box-shadow: 0px 0px 6px var(--status-dnd),
                0px 0px 2px 1px var(--status-dnd) !important;}
DIV .avatar-small .status.dnd{
    box-shadow: 0px 0px 12px var(--status-dnd),
                0px 0px 4px 2px var(--status-dnd) !important;}
[class*="popout"] [class*="avatar"] [class*="Status"][class*="statusDnd"]{
    box-shadow: 0px 0px 18px var(--status-dnd),
                0px 0px 6px 3px var(--status-dnd) !important;}
.avatar-profile .status.status-dnd{
    box-shadow: 0px 0px 24px var(--status-dnd),
                0px 0px 8px 4px var(--status-dnd) !important;}

.ui-call-avatar-border.selected{
    box-shadow: 0px 0px 24px var(--status-select),
                0px 0px 8px 4px var(--status-select) !important;}

.title .status.status-streaming,
.friends-row .status.status-streaming{
    background-color: var(--status-streaming) !important;}
.channel.private .status.status-streaming,
.member .status.status-streaming{
    box-shadow: 0px 0px 6px var(--status-streaming),
                0px 0px 2px 1px var(--status-streaming) !important;}